- if ArticlePolicy.new(current_user, article).edit?
  = link_to 'delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-btn"
  = link_to 'edit', edit_article_path(article), data: { remote: true, reveal_id: "edit_article" }, class: "edit-btn"
