nav.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkslategray;
  color: black;
  z-index: 1;

  li.has-dropdown {
    background-color: darkslategray;
  }
}

body{
  background-color: whitesmoke;
}
