.form {
  margin-left: 20%;
  margin-right: 20%;
}

.input-form {
  background-color: white;
  padding: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.heading-form {
  background-color: teal;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.title-form, .text-form {
  border-bottom: none;
  padding: 3px;
  padding-left: 7px;
  font-size: 1.5rem;
  color: teal;
  font-family: 'Source Sans Pro', sans-serif;
}

.img-input {
  height: 300px;
  width: 100%;
  position: relative;
  background-color: white;
  background-image: url("picture_teal_100.png");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  color: teal;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 20px;

  input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.new_article {
  padding-top: 15px;
}

.reveal-modal {
  max-width: 35.5rem;
  top: 30px;
  border-color: teal;
}

.check-privacy {
  input[type="checkbox"] {
    position: absolute;
    left: -99999px;
  }

  label {
    position: relative;

    &:after {
      content: "✔";
      opacity: 0;
      position: absolute;
      top: 1px;
      right: -8px;
    }

    &:before {
      content: " ";
      display: block;
      width: 10px;
      height: 10px;
      background: rgba(#fff, 0.5);
      border: 1px solid #000;
      position: absolute;
      top: 1px;
      right: -10px;
    }
  }

  input[type="checkbox"]:checked + label {

    &:after {
      opacity: 1;
    }
  }
}
