.image_article {
  margin-bottom: 10px;
  border-bottom: 1px solid silver;
}

.image_show {
  width: 100%;
  height: auto;
  border: 1px solid silver;
  border-bottom: 0.5px solid silver;
}

.profile-photo {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  border-radius: 50%;
  object-fit: cover;
}

.comment-image-profile {
  border: 1px solid silver;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin: 10px;
  margin-top: 15px;
}

.index-user-image, .show-user-image {
  border: 1px solid silver;
  border-radius: 50%;
  object-fit: cover;
}

.show-user-image {
  float: left;
}
