.panel-label {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.panel-label-main {
  background-color: #333;
  height: 36px;
  padding: 5px;
  border-left: 1px solid #262626;
  border-right: 1px solid #262626;
  position: relative;
  button {
    outline: none;
  }
}

a.panel-button {
  background-color: #333;
  color: white;
  padding-left: 20px;
  padding: 10px;
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;

  &:hover {
    background-color: #262626;
    color: white;
  }

  &:active {
    background-color: #262626;
    color: white;
  }
}

.add-btn {
  float: right;
  border-left: 1px solid silver;
}

.root-button {
  color: teal;
  display: block;
  text-align: center;
  padding: 10px;
}

.user-name {
  font-size: 1rem;
  text-align: center;

  a {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

    &:hover {
      color: dimgray;
    }
  }
}

.user {
  float: right;
  margin-top: -25px;
  background-color: #333;
}

.tab-bar-section {
  a {
    padding: 13px;
    color: white;

    &:hover {
      color: dimgray;
      background-color: #262626
    }
  }
}

.custom-dropdown-button {
  padding: 0;
  margin: 0;
  float: right;
  background-color: black;
}

.f-dropdown {
  max-width: 100px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 38px !important;

  li {
    border: 1px solid silver;
    text-align: center;
    color: dimgrey;
    font-family: 'Source Sans Pro', sans-serif;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
