.log {
  background-color: #e0e1e2;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 3rem;
}

.in {
  background-color: white;
  padding: 0 30px;
  margin: 1.5rem;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


