.log-in {
  background-color: white;
  padding: 0 30px;
  margin: 1.5rem;
  margin-top: 3rem;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.edit-profile {

  margin: 0;
  margin-bottom: 1.5rem;
  background-color: white;
  padding: 30px;
  padding-top: 1rem;
  border: 1px solid silver;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-login {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  text-align: center;
  background-color: teal;
  color: white;
}

.show-user-name {
  font-size: 1.7rem;
  color: dimgrey;
  font-family: 'Source Sans Pro', sans-serif;
}

.user-info, .search {
  height: 120px;
  background-color: white;
  border: 1px solid silver;
  border-top: none;
  padding: 10px;
  margin-top: 35px;
}

.table {
  &:first-child {
    margin-top: 38px;
  }
}

.user-table {
  height: 75px;
  background-color: white;
  border: 1px solid silver;
  border-top: none;
  padding: 10px;

  &:hover {
    opacity: 0.5;
  }
}

.articles-statistic, .comments-statistic {
  float: left;
  text-align: center;
  color: dimgrey;
  font-family: 'Source Sans Pro', sans-serif;
}

.articles-statistic-tittle, .comments-statistic-tittle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
  border-bottom: 1px solid silver;
}

.comments-statistic {
  float: right;
}
