button#new.panel-button aria-controls="new-article" aria-expanded="false" data-dropdown="new-article" href="#"
  = t('panel.new')
ul#new-article.f-dropdown.new-dropdown aria-hidden="true" data-dropdown-content=""
  = render 'articles/new'
