= render 'articles/buttons/new'
= link_to t('panel.all_posts'), articles_path , class: "panel-button"
= link_to t('panel.my_posts'), my_path , class: "panel-button"
= link_to t('panel.my_private_posts'), private_path, class: "panel-button"
= link_to t('panel.all_users'), users_path, class: "panel-button"
